.hrdr {
	h1 {
		text-align: left;
	}
	fieldset {
		border: 0;
		border-bottom: 1px solid #666;
		width: 60%;
		legend {
			font-weight: bold;
			padding: 0;
			margin: 10px 0;
		}
	}
	input {
		&.smallInt {
			width: 50px;
		}
		&.stringInput {
			width: 400px;
		}
	}
	.formLine {
		margin: 10px 0;
	}
	.transliteration {
		font-family: 'Transliteration Times Italic';
		font-size: 14px;
	}
	.fakelabel {
		width: 100px;
		float: left;
		clear: left;
	}
}