@import 'Settings';

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

.hrdr {
	h1 {
		text-align: left;
	}
	.transliteration {
		font-family: 'Transliteration Times Italic';
		font-size: 14px;
	}
}