<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Word</h1>

<f:flashMessages />

<table  class="tx_edfu" >
	<tr>
		<th><f:translate key="tx_edfu_domain_model_word.transliteration" /></th>
		<th><f:translate key="tx_edfu_domain_model_word.translation" /></th>
		<th><f:translate key="tx_edfu_domain_model_word.notes" /></th>
		<th><f:translate key="tx_edfu_domain_model_word.hieroglyph" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{words}" as="word">
		<tr>
			<td><f:link.action action="show" arguments="{word : word}"> {word.transliteration}</f:link.action></td>
			<td><f:link.action action="show" arguments="{word : word}"> {word.translation}</f:link.action></td>
			<td><f:link.action action="show" arguments="{word : word}"> {word.notes}</f:link.action></td>
			<td><f:link.action action="show" arguments="{word : word}"> {word.hieroglyph}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{word : word}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{word : word}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Word</f:link.action>
</f:section>