.hrdr .edfuStelle {
  width: 60%;
  float: left;
  border-bottom: 1px solid #cccccc;
}
.hrdr .edfuStelle .edfuStellePosition {
  width: 40%;
  float: left;
}
.hrdr .edfuStelle .edfuStelleMeta {
  float: right;
}
.hrdr .edfuForm {
  float: left;
}
.hrdr h1 {
  text-align: left;
}
.hrdr fieldset {
  border: 0;
  width: 60%;
}
.hrdr fieldset legend {
  font-weight: bold;
  padding: 0;
  margin: 10px 0;
}
.hrdr input.smallInt {
  width: 50px;
}
.hrdr input.stringInput {
  width: 400px;
}
.hrdr .formLine {
  margin: 10px 0;
}
.hrdr .transliteration {
  font-family: 'Transliteration Times Italic';
  font-size: 14px;
}
.hrdr .fakeLabel {
  width: 120px;
  float: left;
  clear: left;
  padding: 3px 0;
}
.hrdr input, .hrdr textarea, .hrdr select {
  border: 1px solid #cccccc;
  padding: 3px;
}
