<table class="tx-edfu" >
	<tr>
		<td>
			<f:translate key="tx_edfu_domain_model_wort.transliteration" />
		</td>
		<td>
			{word.transliteration}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_edfu_domain_model_wort.translation" />
		</td>
		<td>
			{word.translation}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_edfu_domain_model_wort.notes" />
		</td>
		<td>
			{word.notes}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_edfu_domain_model_wort.hieroglyph" />
		</td>
		<td>
			{word.hieroglyph}
		</td>
	</tr>
</table>