<f:be.container>
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div id="typo3-docheader-row1">
				<div class="buttonsleft">

				</div>
				<div class="buttonsright">
					<f:be.buttons.shortcut />
				</div>
			</div>
			<div id="typo3-docheader-row2">
				<div class="docheader-row2-left">
					<f:be.buttons.csh />
					<f:be.menus.actionMenu>
						<f:be.menus.actionMenuItem label="Overview" controller="" action="list" />
						<f:be.menus.actionMenuItem label="Create new Word" action="new" controller="Word" />
								<f:be.menus.actionMenuItem label="Create new God" action="new" controller="God" />
								<f:be.menus.actionMenuItem label="Create new Form" action="new" controller="Form" />
								<f:be.menus.actionMenuItem label="Create new Place" action="new" controller="Place" />
								<f:be.menus.actionMenuItem label="Create new Photo" action="new" controller="Photo" />
								<f:be.menus.actionMenuItem label="Create new Berlin" action="new" controller="Berlin" />
								<f:be.menus.actionMenuItem label="Create new Literature" action="new" controller="Literature" />
								<f:be.menus.actionMenuItem label="Create new Position" action="new" controller="Position" />
					</f:be.menus.actionMenu>
				</div>
				<div class="docheader-row2-right">
					<f:be.pagePath />
					<f:be.pageInfo />
				</div>
			</div>

		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:flashMessages renderMode="div" />
				<f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>