{namespace edfu = Tx_Edfu_ViewHelpers}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />

<f:be.container
		addCssFile="{f:uri.resource(path:'Css/Edfu.css')}"
		addJsFile="{jQuery}"
		enableClickMenu="false" loadPrototype="false" loadScriptaculous="false"
		loadExtJsTheme="false" >
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div id="typo3-docheader-row1">
				<div class="buttonsleft">

				</div>
				<div class="buttonsright">
					<f:be.buttons.shortcut />
				</div>
			</div>
			<div id="typo3-docheader-row2">
				<div class="docheader-row2-left">
					<f:be.buttons.csh />
					<f:be.menus.actionMenu>
						<f:be.menus.actionMenuItem label="Overview" controller="" action="list" />
						<f:be.menus.actionMenuItem label="Formular" action="list" controller="Formular" />
						<f:be.menus.actionMenuItem label="Götterliste" action="list" controller="Gott" />
						<f:be.menus.actionMenuItem label="Wortliste" action="list" controller="Wort" />
						<f:be.menus.actionMenuItem label="Ortsliste" action="list" controller="Ort" />
					</f:be.menus.actionMenu>
				</div>
				<div class="docheader-row2-right">
					<f:be.pagePath />
					<f:be.pageInfo />
				</div>
			</div>

		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody" class="hrdr">
				<f:flashMessages renderMode="div" />
				<f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>

<script src="{jQuery}"></script>
<script src="{f:uri.resource(path:'JavaScript/Edfu.js')}"></script>

