<table class="tx-edfu" >
	<tr>
		<td>
			<f:translate key="tx_edfu_domain_model_god.transliteration" />
		</td>
		<td>
			{god.transliteration}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_edfu_domain_model_god.place" />
		</td>
		<td>
			{god.place}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_edfu_domain_model_god.eponym" />
		</td>
		<td>
			{god.eponym}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_edfu_domain_model_god.relation" />
		</td>
		<td>
			{god.relation}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_edfu_domain_model_god.function" />
		</td>
		<td>
			{god.function}
		</td>
	</tr>
</table>