<f:layout name="Default" />

<f:section name="content">
	<h1><f:translate key="tx_edfu_domain_model_ort" /></h1>

	<f:flashMessages />

	<f:render partial="Stelle" arguments="{_all}"/>

	<div class="expand">
		<f:form action="create" object="{ort}" name="ort" class="edfuForm">

			<div class="formLine">
				<label class="fakeLabel" for="edfu-transliteration">Transliteration</label> <f:form.textfield property="transliteration" name="transliteration" class="transliteration stringInput" id="edfu-transliteration"/>
				<br />
			</div>
			<div class="formLine">
				<label class="fakeLabel" for="edfu-uebersetzung">Übersetzung</label> <f:form.textfield name="uebersetzung" class="stringInput" property="uebersetzung" id="edfu-uebersetzung" />
				<br />
			</div>
			<div class="formLine">
				<label class="fakeLabel" for="edfu-ortsbeschreibung">Ortsbeschreibung</label> <f:form.textfield name="ortsbeschreibung" class="stringInput" id="edfu-ortsbeschreibung" property="ortsbeschreibung" />
				<br />
			</div>
			<div class="formLine">
				<label class="fakeLabel" for="edfu-anmerkung">Anmerkung</label> <f:form.textarea name="anmerkung" class="stringInput" id="edfu-anmerkung" rows="5" cols="40" property="anmerkung" />
			</div>
				<f:form.hidden name="stelle" class="hiddenStelle" property="stelle.uid"/>
			<div class="formLine">
				<f:form.submit value="Speichern" />
			</div>
		</f:form>
	</div>
</f:section>