<f:layout name="Default" />

<f:section name="main">
<h1>Listing for Formular</h1>

<f:flashMessages />

<table  class="tx_edfu" >
	<tr>
		<th><f:translate key="tx_edfu_domain_model_formular.transliteration" /></th>
		<th><f:translate key="tx_edfu_domain_model_formular.translation" /></th>
		<th><f:translate key="tx_edfu_domain_model_formular.text_type" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{forms}" as="form">
		<tr>
			<td><f:link.action action="show" arguments="{form : form}"> {form.transliteration}</f:link.action></td>
			<td><f:link.action action="show" arguments="{form : form}"> {form.translation}</f:link.action></td>
			<td><f:link.action action="show" arguments="{form : form}"> {form.textType}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{form : form}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{form : form}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Form</f:link.action>
</f:section>